<h3>Users</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> signed up <%= user.created_at.to_date %>
      <p><%= image_tag(user.avatar_url, :width => 50) if user.avatar%></p>
    </li>
  <% end %>
</ul>
