<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p><%= image_tag(@user.avatar_url, :width => 100) if @user.avatar%></p>
<p>Gender: <%= @user.gender%></p>
<p>City: <%= @user.city%></p>


