<div class='pytania'>
<div class='tlo'>
<%= image_tag('/images/image.png').html_safe %>
</div>
<div id='zakladki'>

<div id='linki'>
<ul>
		<li><a href="#" class="active"><span>Offers</span></a></li>
		<li><a href="#"><span>Events</span></a></li>
	</ul>
	</div>
	<div class='tabele'>
<table>


  <tbody>
    <% if @events %>
      <% @events.each do |event| %>
        <tr>
        <td>
          <% if event.photos %>
            <% event.photos.each do |p| %>
              <%= image_tag p.photo_url, :width => 80 %>
              <% break %>
            <% end %>
          <% end %>
        </td>
          <td><p id='t'><%= event.title %></p>
          <p id='data'><%= event.start_date %>
          <%= event.start_time %>
          <%= event.end_time %>
          <%= event.location %>
          <%= event.city %></p>
          <p id='g'><%= event.description %></p>
          <div id='button-list'>
            <p><%= link_to "<button>Show</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
            <%= link_to "<button>Edit</button>".html_safe, (edit_event_path(event) if event.user_id == current_user.id), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
            <%= link_to "<button>Destroy</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip", method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id %></p>
          </div>
         </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>
</div>


<h3>Home</h3>
<br>
<h5>Wystawiający miesiąca !</h5>

<style>
    td, th {
        padding: 5px 75px 0px 0px;
    }
</style>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
     <% User.order(offers_count: :desc).limit(1).each  do |user|%> 
      <tr>
       <td><%= user.name%></td>
       <td><%= image_tag(user.avatar_url, :width => 50) if user.avatar %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h4><b>Shoutbox</b></h4>
<% shoutbox = String.new("") %>
<ul>
<% for shout in @shouts %>
<% shoutbox = shoutbox + "Author: #{shout.name} \n #{shout.message} \n___________________________________________________________________________________________\n" %>
<% end %>
      <%= text_area_tag(:shoutboxing, "#{shoutbox}", rows: '10', cols: 80, readonly: "true", style: "resize:none;color:brown;background-color:#C0C0C0") %><br>
</ul>
<%= form_for @shout do |f| %>

<% f.label :name %><b>Name:</b>
<%= f.text_field :name, :size => 20 %><br>

<% f.label :message %><b>Message:</b><br>
<%= f.text_area :message, :rows => 3, :cols => 80, style: "resize:none" %><br>

<%= f.submit %>
<% end %>