<div class='head'>
<h1>Editing event</h1>
</div>

<%= render 'form' %>

<%= link_to "<button>Show</button>".html_safe, @event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
<%= link_to "<button>Back</button>".html_safe, events_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
