<div class='head'>
<h1>Editing offer</h1>
</div>

<%= render 'form' %>

<%= link_to "<button>Show</button>".html_safe, @offer, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
<%= link_to "<button>Back</button>".html_safe, offers_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>

