<p id="notice"><%= notice %></p>

<div class='event_view'>

<div class='head'>
  <strong><%= @offer.title %></strong>
</div>
<div id='txt'>
<p>
  <strong>Cost:</strong>
  <%= @offer.cost %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @offer.picture %>
</p>

<%= image_tag('/images/icotime.png') %>
<p id='picture'>
  <strong>Start date:</strong>
  <%= @offer.start_date %>

</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @offer.area %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @offer.rooms %>
</p>

<%= image_tag('/images/icoplace.png') %>
<p id='picture'>
  <strong>Localization:</strong>
  <%= @offer.localization %>
  
</p>
</div>
<div id='descript'> 
<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<% @photos.each do |p| %>
  <%= image_tag p.photo_url %>
  <br />
<% end %>
</div>
<%= link_to "<button>Edit</button>".html_safe,  edit_offer_path(@offer), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
   <%= link_to "<button>Back</button>".html_safe,  offers_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
</div>


<p id="pdf_link"><%= link_to "Download (PDF)", offer_path(@offer, :format => "pdf") %></p>




<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 15,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var address = '<%= @offer.localization  %>';
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
    }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
