<%# add navigation links to this file %>

<div id="cos">
<p id='b'><%= link_to image_tag('/images/butaddsleep.png').html_safe,  new_offer_path %></p>
<p id='c'><%= link_to image_tag('/images/butaddevent.png').html_safe,  new_event_path %></p>

</div>

